COMPOSE_PROJECT_NAME=djmeet

DEBUG = True

SECRET_KEY=difine your secret key

ALLOWED_HOSTS=localhost, 127.0.0.1

# Data base config
DB_NAME=djmeet-dev
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=djmeet_db
DB_PORT=5432

# S3 storage config
S3_ACCESS_KEY = 
S3_SECRET_KEY =
S3_BUCKET =
S3_ENDPOINT = 